
/* ------------------------------ GENERAL ------------------------------ */

:root {
    box-sizing: border-box;

/*  variables__colors */

    --bg: #fff;
    --bg_small: #EAEAEA;
    --primary_color: #191919;
    --accent_first: #22577a;
    --accent_second: #ff8c00;

/*  variables__font-sizes */

    --fontXXS: .5rem;
    --fontXS: .75rem;
    --fontS: 1rem;
    --fontM: 1.2rem; 
    --fontL: 1.5rem;
    --fontXL: 2rem;
    --fontXXL: 2.5rem;

    --check: 1px red solid;
}

*, 
::after,
::before {
    box-sizing: inherit;
}

/* ------------------------------ BODY ------------------------------ */

body {    
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    color: var(--primary_color);
}

/* ------------------------------ TYPOGRAPHY ------------------------------ */

body {
    font-family: 'Noto Serif', serif;
    font-size: var(--fontM);
}

h2 {
    font-size: var(--fontXXL);
    font-weight: 500;
}

a {
    font-size: var(--fontS);
}



/* ------------------------------ HEADER ------------------------------ */


.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px red solid; */
    width: 90%;
    margin: 0 auto;
    padding: 0;
}


.nav__logo {
    padding-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    font-family: 'Sacramento', cursive;
    font-size: var(--fontXXL);
    margin-left: .75em;
    color: var(--accent_first);
}

.nav__item {
    margin: .5em 0 0 0;
    cursor: pointer;
    padding: 0 1em;
    border-radius: .5em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: var(--fontM);
}

.nav__contact {
    display: none;
}

.current {
    color: var(--accent_second);
}

.nav__item:hover {
    color: var(--accent_second);
}


/* ------------------------------ PAGE CONTAINER ------------------------------ */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    /* border: red solid 1px; */
    padding: 0 1em;
    /* background-color:#DDFFBC; */
    height: 100%;

}

.container__header {
    display: none;
}

.main {
    
    width: 82%;
    background-color: var(--bg_small);
    border-radius: .75em;
    box-shadow: var(--shadow-elevation-medium);
    display: flex;
    flex-direction: column;
    padding-bottom: .69em; 
    height: 86%;
    /* justify-content: center;
    align-items: center; */

    /* center container */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* ------------------------------ INTRO ------------------------------ */

.intro__info {
    margin-left: 2em;
}

.intro__img {
    width: 55%;
    border-radius: 50%;
    align-self: center;
    border: 1px var(--accent_first) solid;
    margin-left: 2em;
}

.intro__image {
    /* border: var(--check); */
    text-align: center;
}

.intro__resume {
    padding: 1em;
    background-color: var(--accent_first);
    color: #fff;
    border-radius: 1em;
}

.intro__intro {
    margin-bottom: 2em;
}

/* ------------------------------ PROJECTS ------------------------------ */

.projects {
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    /* border: 1px blue solid; */
}

.projects__image {
    width: 100%;
    border-radius: .2em;
    box-shadow: var(--shadow-elevation-medium);
    margin-top: 1em;
}

.projects__container {
    /* border: var(--check); */
    padding: 2em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.projects__description {
    font-size: var(--fontS);
    margin-top: 2em;
}

.projects__stack {
    margin-left: 0;
    /* border: var(--check); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.projects__stack__more {
    /* border: var(--check); */
    padding: 1em;
    background-color: var(--accent_first);
    color: #fff;
    border-radius: 1em;
    font-size: var(--fontXS);
    margin-left: auto;
}

.projects__stack__more:hover {
    color: var(--bg);
    background-color: var(--accent_second);
}

.projects__header {
    margin: 0;
    font-size: var(--fontXL);
}

.projects__stack__icon {
    width: 1.5em;
    height: 1.5em;
    margin-left: .5em;
}

.projects__stack__icon:hover {
    transform: scale(1.75);
}

/* ------------------------------ ABOUT ME ------------------------------ */

.about__description {
    flex: 1 1 0;
    font-size: var(--fontM);
    margin-left: 1em;
    padding: 1em;
}

.about__terminal {
    flex: 1 1 0;
    font-size: .3rem;
    /* border: 1px red solid; */
    /* box-shadow: var(--shadow-elevation-high); */
    
}

.terminal__header {
    background-color: #C9D5E3; /* C9D5E3 */
    padding: .5em;
    border-top-left-radius: .8em;
    border-top-right-radius: .8em;
    margin: 0 auto;
    margin-top: 5em;   
    display: flex;
}

.terminal__body {
    background-color: #45485E;
    margin: 0 auto;
    padding: 2em;
    padding-top: .5em;
    font-size: var(--fontS);
    border-bottom-left-radius: .8em;
    border-bottom-right-radius: .8em;
}

.terminal__button {
    border-radius: 50%;
    padding: .4em;
    border: none;
    margin: .1em;
}


.terminal__button--red {
    background-color: #f96256;
    margin: .25em;
}

.terminal__button--yellow {
    background-color: #fdbc3d;
    margin: .25em;
}

.terminal__button--green {
    background-color: #33c948;
    margin: .25em;
}

.terminal__unit {
    margin-top: 1em;
    color: #f96256;
    margin-top: 1.5em;
}

.terminal__unit__header {
    margin: 0;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}

.terminal__unit__body {
    color: #e7d184;
    font-family: 'Ubuntu Mono', monospace;
    margin-top: .25em;
}

.terminal__unit__body > a {
    font-size: var(--fontS);
}

.terminal__unit__body > a {
    color: aquamarine;
    text-decoration: none;
}

#header {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
  }
  
#cursor {
    background: white;
    line-height: 1.2;
    margin-left: .3em;
    -webkit-animation: blink 0.9s infinite;
    width: .3rem;
    height: var(--fontS);
}

@-webkit-keyframes blink {
    0% {background: #5a5d7a}
    50% {background: #eaeff5}
    100% {background: #5a5d7a}
  }

  /* .about {
    margin-bottom: 2em;
  } */

/* ------------------------------ ASIDE ------------------------------ */

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 1.5vw;
    bottom: 30vh;

}

.contacts__link {
    margin: .5em;
}

.contacts__item {
    margin: .25em;
}

.contacts__icon {
    padding: .25em;
    width: 2.25em;
    filter: grayscale(75%);
}

.contacts__icon:hover {
    filter: none;
    padding: 0;
}

/* .contacts__subtitles {
    font-size: .75rem;
    display: none;
} */


/* ------------------------------ SECTION ------------------------------ */

/* .controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 4em;
}

.next__btn {
    margin-right: 4em;
    padding: .5em 2em;
    background-color: var(--primary_color);
    color: var(--bg);
    border-radius: 1em;
} */


:root {
    --shadow-color: 147deg 6% 51%;
    --shadow-elevation-low:
      -0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0),
      -0.3px 0.4px 0.8px hsl(var(--shadow-color) / 0.25),
      -0.6px 0.8px 1.5px hsl(var(--shadow-color) / 0.51);
    --shadow-elevation-medium:
      -0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0),
      -0.8px 1px 1.9px hsl(var(--shadow-color) / 0.2),
      -1.6px 2px 3.8px hsl(var(--shadow-color) / 0.4),
      -3.2px 4.1px 7.8px hsl(var(--shadow-color) / 0.6);
    --shadow-elevation-high:
      -0.2px 0.2px 0.4px hsl(var(--shadow-color) / 0),
      -1.7px 2.2px 4.2px hsl(var(--shadow-color) / 0.09),
      -3.1px 3.9px 7.5px hsl(var(--shadow-color) / 0.18),
      -4.6px 5.7px 11px hsl(var(--shadow-color) / 0.28),
      -6.4px 8px 15.4px hsl(var(--shadow-color) / 0.37),
      -8.8px 11.1px 21.2px hsl(var(--shadow-color) / 0.46),
      -12.3px 15.4px 29.6px hsl(var(--shadow-color) / 0.55),
      -16.9px 21.3px 40.8px hsl(var(--shadow-color) / 0.65);
  }

.container:not(:nth-child(2)) {
    display: none;
}

@media (max-width: 1200px) {
	:root {
        font-size: .9rem;
    }
}
@media (max-width: 992px) {	
	:root {
        font-size: .75rem;
    }
}
@media (max-width: 768px) {
	:root {
        font-size: .6rem;
    }
}

@media (max-width: 580px) {
	:root {
        font-size: .6rem;
    }

    body {
        background-color: var(--bg_small);
        /* display: flex;
        flex-direction: column-reverse; */
    }
    
    .main {
        box-shadow: none;
    }

    .container__header {
        display: block;
        font-size: var(--fontL);
        text-align: center;
        margin-top: 15em;
        margin-bottom: 5em;
        color: var(--accent_second);
        font-weight: 600;
    }

    .container__header::before,
    .container__header::after {
        display: inline-block;
        content: "";
        border-top: .3rem solid var(--accent_second);
        width: 10vw;
        margin: 0 2rem;
        transform: translateY(-.25rem);
    }

    /*************** NAV ***************/

    .nav__items {
        display: none;
    }

    .nav__logo {
        margin: 0 auto;
        font-size: 5rem;
        padding: 0;
    }

    /*************** CONTACTS ***************/


    .contacts {
        position: relative;
        display: flex;
        flex-direction: row;
        border: var(--check);
    }

    /*************** INTRO ***************/

    #intro {
        display: flex;
        flex-direction: column;
        margin-top: 5em;
    }

    .intro__resume {
        justify-self: center;
        padding: 1em;
        margin: 0 auto;
    }

    /*************** PROJECTS ***************/
    
    #projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .projects__stack__more {
        font-size: var(--fontM);
    }

    /*************** ABOUT ***************/

    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}






/***********************************************/

/* body {
    background-color: var(--bg_small);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

aside {
    display: flex;
    border: 2px blueviolet solid;
}

body > * {
    border: 5px violet solid;
}

.container {       
    margin-top: 8em;
    margin-bottom: 8em;
}

.container__header {
    display: block;
    margin: 0;
    text-align: left;
    font-size: var(--fontL);
    border: var(--check);
}

.main {
    box-shadow: none;
    border: var(--check);
    width: 90%;
    display: flex;
    flex-direction: column;
}

.main > * {
    border: 1px solid green;
}

.nav__logo {
    margin: 0 auto;
    font-size: 5rem;
}

#intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 7em;
}

/* #intro > * {
    border: var(--check);
}

.intro__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__intro {
    font-size: var(--fontXL);
}

.intro__resume {
    text-align: center;
    border: var(--check);
    padding: 1em;
    font-size: var(--fontXL);
    width: 30%;
    margin: 0 auto 2em auto;
}

.intro__header {
    margin-top: 7em;
}

#projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 7em;
}

#about {
    display: flex;
    flex-direction: column;
}

.contacts {
    display: flex;
    position: relative;
}

.nav__items {
    display: none;
} */

/************************************************/



/*

* {
    border: var(--check);
}

.nav__logo {
    display: block;
    font-size: 4.5rem;
    margin-top: 0;
    padding-top: 0;
}

.main {
    box-shadow: none;
}

body {
    background-color: var(--bg_small);
    display: flex;
}

#about, #projects {
    display: flex;
}

.nav__item__open {
    display: flex;
    font-size: 3rem;
}

.nav__items {
    display: none;
}

.nav__item:first-child {
    margin-top: 3em;
}

.nav__items__open {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    border-radius: 16px;
    background-color: #f96256;
    width: 50vw;
    height: 100vh;
    color: var(--accent_first);
    z-index: 2;
}

.nav {
    border: 1px red solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.nav__logo {
    margin-right: 0;
    padding-left: 0;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    margin-bottom: 13em;
}

.container__header {
    display: block;
    font-weight: 400;
    color: var(--accent_second);
    font-size: 1.75rem;
    align-self: flex-start;
    margin-top: 2.5em;
    margin-bottom: 0;
}

.intro__resume {
    align-self: center;
}

.menu-btn {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    width: 4em;
    height: 4em;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 5;
}

.menu-btn__burger {
    width: 2em;
    height: .35em;
    background: var(--accent_first);
    border-radius: .5em;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
    background: var(--accent_first);
    border-radius: .5em;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    width: 2rem;
    height: .35em;
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    width: 2rem;
    height: .35em;
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-6em);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(5em, -5em);
    width: 5rem;
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(5em, 5em);
    width: 5rem;
}

*/

